/* Global Styles */
html, body  { height: 100%; min-height: 100%; margin: 0; padding: 0; }

.clearfix:after  { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
.clearfix  { display: inline-block; }
html[xmlns] .clearfix  { display: block; }
* html .clearfix  { height: 1%; }

p  { line-height: 1.5; margin: 0 0 1.25em; padding: 0; }

/* Hyperlinks */
a img  { border: none; }
a:focus, a:hover, a:active  { outline: none; }

/* Headings */
h2, h3, h4, h5, h6  { margin: 1em 0; }
h2  { font-size: 20px; }
h3  { font-size: 18px; }
h4  { font-size: 16px; }
h5  { font-size: 14px; }
h6  { font-size: 12px; }

/* Tables */
table  { border-collapse: collapse; border-spacing: 0; }
th, td  { padding: 5px; }

/* Common Classes */
.aligncenter  { display: block; margin: 0 auto !important; }
.alignright  { float: right; margin: 0 0 1em 1em; }
.alignleft  { float: left; margin: 0 1em 1em 0; }
.floatleft  { float: left; }
.floatright  { float: right; }

.textcenter  { text-align: center; }
.textright  { text-align: right; }
.textleft  { text-align: left; }

.ui-tabs-hide, .hide  { display: none !important; }
.xoxo  { padding: 0; }

/* Structure */
#wrapper				{ min-height: 100%; position: relative; background: #000000; padding-top: 1px; border-top: 1px solid #7A8087; }
#main					{ padding: 10px 10px 0; }

/* Header */
#header					{ min-width: 990px; padding: 0; }
#header .page-header    { background: url(../../images/page_header.png) 0 95px repeat-x; }
#header .page-header2   { color:#fff; background:url(../../images/nav-bg.png) 50% 100% no-repeat; }
#branding				{ width: 980px; margin: auto; position:relative;z-index:10;height:150px;clear:both;background:url(../../images/logo_bg.png) 0 0 no-repeat; }
.logo					{ max-width: 590px; float: left; }
.blog-name				{ margin: 0 0 3px; line-height: 1em; display: block; }
.blog-description		{ line-height: 1em; display: block; margin: 0; padding: 3px 0 0; }

/* Menus */
.sf-menu, .sf-menu *  { list-style: none; margin: 0; padding: 0; }
.sf-menu  { line-height: 1; }
.sf-menu ul	 { position: absolute; left: -999em; width: 11em; z-index: 100; }
.sf-menu ul li  { width: 100%; }
.sf-menu li:hover  { visibility: inherit; }
.sf-menu li  { float: left; position: relative; }
.sf-menu a  { display: block; position: relative; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul  { left: 0; top: 2.8em; z-index: 99; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul  { top: -999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul  { left: 11em; top: 0; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul  { top: -999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul  { left: 11em; top: 0; }
.sf-shadow ul { background:	url(../../images/shadow.png) no-repeat bottom right; padding: 0 8px 9px 0; -moz-border-radius-bottomleft: 17px; -moz-border-radius-topright: 17px; -webkit-border-top-right-radius: 17px; -webkit-border-bottom-left-radius: 17px; }
.sf-shadow ul.sf-shadow-off { background: transparent; }

/*
#top-menu, #nav  { min-width: 990px; }
#top-menu-content, #nav-content  { margin: 0 auto; width: 978px; }
#top-menu-content .sf-menu, #nav .sf-menu  { float: left; line-height: 1.1; }
*/

.quick-nav  { float: right; list-style: none; margin: 0 10px 0; padding: 0; }
.quick-nav li  { float: left; display: inline; }

/* Search Bar */
#searchbar  { float: right; overflow: hidden; margin: 25px 10px 0 0; }

/* Sidebar */
.sidebar .xoxo  { list-style: none; padding: 0; margin: 0; }
.widgetcontainer  { padding: 10px; margin-bottom: 10px; }
.widgetcontainer ul, .widgetcontainer .xoxo, .widgetcontainer ol  { list-style: disc; margin: 0 0 0 15px; padding: 0; }
.widgetcontainer li  { margin: 3px 0; }
.widgetcontainer input[type=text], .widgetcontainer input[type=password]  { width: 80%; }

.multi-sidebar .tabs  { list-style: none; margin: 0 0 5px; padding: 0; overflow: hidden; }
.multi-sidebar .tabs li	 { float: left; padding: 5px; margin: 0 3px 5px 0; }
.multi-sidebar .widgetcontainer	 { margin-bottom: 10px; padding: 10px; }
.multi-sidebar .widgetcontainer ul, ul.featured-stories, ul.related-posts  { list-style: none; margin: 0; }
.multi-sidebar .widgetcontainer li, .featured-stories li,  .related-posts li  { padding: 0 0 10px; margin: 0 0 10px; }

#wp-calendar  { width: 100%; }

/* Featured Slideshow */
.featured  { margin: 0 10px 20px 0; overflow: hidden; }
#controls  { position: relative; float: left; z-index: 90; top: 90px; }

#controls .next, #controls .prev  { text-indent: -9000px; width: 30px; height: 30px; display: block; z-index: 1000; opacity: 0.7; }
#controls .prev  { background: url(../images/prev.png) no-repeat; float: left; position: absolute; left: 10px; }
#controls .next  { background: url(../images/next.png) no-repeat; float: right; position: absolute; left: 610px; }
#controls .next:hover, #controls .prev:hover  { opacity: 1; }

#featured-slideshow  { position: relative; z-index: 0 !important; }			

.featured-article  { display: block; }
.featured-entry  { position: relative; top: -85px; overflow: hidden; padding: 0; display: block; opacity: 0.8; }
.featured-entry .entry-title  { display: block; }
.featured-entry .entry-summary  { padding: 0 15px; margin: 0; display: block; }

/* Bottom Content */
#bottom-content-1, #bottom-content-2  { list-style: none; float: left; width: 320px; margin: 0 10px 10px 0; overflow: hidden; padding: 0; }
.layout-3c-r-fixed #bottom-content-1, .layout-3c-r-fixed #bottom-content-2, .layout-3c-fixed #bottom-content-1, .layout-3c-fixed #bottom-content-2	{ width: 243px; }

/* Tapestries */
.entry-thumbnails  { clear: both; display: inline-block; margin: 4px 0px 0px 24px; }
.entry-thumbnails-link  { float: left; display: block; }

.posts-default, .posts-quick, .posts-line  { list-style: none; margin: 0px 0px 10px 6px; padding: 0; overflow: hidden; }
/*.posts-default  { margin: 0px 0px 20px 5px; }*/
.posts-default .entry, .posts-default img  { float: left; padding: 0; overflow: hidden; }
.posts-default .entry-title	{ margin: 5px; line-height: 1.4em; text-align: center; }
.posts-default .entry-summary  { overflow: hidden; margin: 0 5px; padding-bottom: 10px; line-height: 1.4em; }
/*
.posts-default .entry-thumbnails-link	{ padding: 4px; }
*/
.posts-default .published { float: left; margin: 5px 5px 0; }

.posts-quick  { margin: 0 10px 10px 0; padding: 0; }
.posts-quick li  { padding: 0 10px 0 0; margin: 0 0 10px; }
.posts-quick .entry-title  { padding: 5px 0 0; margin: 0; line-height: 1.3em; }
.posts-quick .entry-summary	{ line-height: 1.6em; margin-bottom: 15px; }
.posts-quick .entry-thumbnails  { float: left; margin: 0 20px 10px 0; padding: 4px; }
.posts-quick .quick-read-more  { margin: 10px 0 5px; }
.posts-quick .entry-info  { margin: 0 0 5px; }
.posts-quick .entry-info abbr  { padding: 0 4px 0 0; }
.posts-quick .entry-info span  { padding: 0 4px; }

.posts-default .entry-meta, .posts-quick .entry-meta	{ float: left; display: block; margin: -25px 0 0; }
.posts-default .entry-comments, .posts-quick .entry-comments { float: right; margin: 5px 5px 0; background: url(../images/comments.gif) no-repeat left center; padding: 0 0 0 12px; }
.posts-line  { margin: 0 10px 10px 0; padding: 10px; line-height: 1.4em; }
.posts-line	li  { padding: 7px 0; }
.posts-line .entry-cat  { float: left; width: 100px; overflow: hidden; }
.posts-line .entry-title  { float: left; margin: 0; max-width: 450px; line-height: 1.4em; }
.layout-3c-fixed .posts-line .entry-title, .layout-3c-r-fixed .posts-line .entry-title  { max-width: 300px; }
.posts-line .entry-comments	 { float: right; }

.navigation  { margin: 0 10px 20px 0; text-align: center; }

/* Single Post */

.entry-content  { margin: 10px; font-size: 12px; line-height: 1.5em; overflow: hidden; }

/*
.single .post, #main .single-post	{ margin: 0 10px 15px 0; padding: 0 15px; }
.single .post .entry-title, .single-post .entry-title	{ padding: 0; margin: 15px 0 5px; line-height: 1.3em; }
.single .post .entry-info, .single-post .entry-info	{ padding-bottom: 10px; margin-bottom: 10px; }
.single .post .entry-cat, .single-post .entry-cat	{ display: block; margin: 5px 0 0; }
.single .post .entry-author, .single-post .entry-author { margin: 0; display: inline; }
.single .post .entry-author address, .single-post .entry-author address	{ display: inline; }
#main .single .post .tags, #main .single-post .tags { margin: 15px 0; padding: 15px 0 0; }
#main .single .post .tags a, #main .single-post .tags a { padding: 0; }
.single .post .entry-photo, .single-post .entry-photo	{ overflow: hidden; }
.single .post .entry-photo img, .single-post .entry-photo img  { margin: 10px auto;  }

.single-post-meta  { clear: right; float: right; margin: 1em 0 1em 1em; width: 40%; }

.entry-content ul, .entry-content ol  { margin: 0 20px; padding: 0 0 1.5em; }
.entry-content ul ul, .entry-content ol ol, .entry-content ol ul, .entry-content ul ol  { padding: 0; }
.entry-content blockquote  { font-style: italic; }
.entry-content form  { margin: 1em 0; }

.post-edit-link:link, .post-edit-link:visited  { padding: 0 0 0 14px; }
.page .entry-content  { margin: 0 0 20px; }

.layout-3c-r-fixed .post .entry-photo, .layout-3c-r-fixed .single-post .entry-photo, .layout-3c-fixed .post .entry-photo, .layout-3c-fixed .single-post .entry-photo  { width: 480px; }

.gallery  { clear: both; margin: 10px 0; }
.gallery-item  { float: left; margin-right: 10px; width: 31%; text-align: center; }
.gallery-icon img  { padding: 4px; }
.gallery-caption  { font-size: 12px; }

.about-author  { padding: 10px; margin: 0 0 10px; line-height: 1.5em; }
.about-author .avatar  { margin-bottom: 0; }
.about-author .author-meta  { float: left; width: 85%; }
.about-author h4  { margin: 0 0 5px; }
*/

/* Comments */
#commentlist  { list-style: none; padding: 10px 10px 0; margin: 0 10px 0 0; }
#commentlist li  { margin-bottom: 10px; }
#commentlist p  { clear: left; line-height: 1.8em; }
#commentlist .reply  { float: right; }

#commentlist .comment-node  { margin-bottom: 10px; }
#commentlist .children	{ clear: right; margin-left: 20px; list-style: none; padding: 0; }
#commentlist #respond	{ clear: both; margin: 10px; }
#commentlist #respond .module-title { margin: 0; }
#commentlist #respond #commentsform	{ margin: 0; }
#commentlist .comment-author	{ padding: 10px 0 0 10px;}
#commentlist .comment-meta		{ padding: 0 10px; }
#commentlist .comment-content	{ padding: 0 10px; }
#commentlist .comment-controls	{ padding: 15px 10px; float: right; }

.comments-navigation	{ clear: both; margin: 0 10px 10px 0; }

#commentform, #commentsform, #disqus_thread  { margin: 0 10px 10px 0; padding: 10px; overflow: hidden; }
#commentform textarea	{ width: 98%; height: 150px; padding: 5px; }
#commentform .error	{ display: block; padding: 5px; }
#cancel-comment-reply-link	{ padding: 0 10px; }

/* Author Template */
.author-content			{ margin-right: 10px; } 
.author-content dl  	{ margin-left: 115px; }

/* Footer */
#footer				{ margin: 20px auto 0; width: 980px; padding-bottom: 10px; }
#footer .widgetcontainer	{ padding: 5px 10px; margin-right: 10px; float: left; }
#footer .footer-message	{ margin: 0; padding: 10px 15px 0; }
#footer .footer-message p { margin: 0 0 0.5em; text-align:center; }
#footer .footer-message .floatright { margin-left: 20px; }
.footer-sidebar-container  { margin: 10px; }
.footer-sidebar		{ overflow: hidden; float: left; margin: 0; padding: 0 0 10px; }

/* end import base CSS style */

#eXTReMe{display:none;}
#dhtmltooltip{color:#000;font-size:10px;position:absolute;left:-300px;width:400px;border:1px solid #000;background-color:#f6f6f6;visibility:hidden;z-index:100;padding:5px}
#dhtmlpointer{position:absolute;left:-300px;z-index:101;visibility:hidden}
#adblock {display:none;}
.debridnok {width:100%;margin-left:auto;margin-right:auto;margin-top:1px;margin-bottom:1px;color:black;background:#DB7B7B;border:1px solid #D80000;border-radius:3px;text-align:center;}
.debridnok  a {color:blue;margin:5px;font-size:105%;}
.block_hoster {display:inline-block;margin-top:-5px;margin-bottom:-3px;}
#tabset_container {padding:0px 10px 10px 0px;}
#tabset a:hover {text-decoration:underline;color:#2C445E;cursor:pointer;}
#tabset a.sel {font-weight:bold;text-decoration:underline;color:#ffffff;background:#2C445E;}
#tabs a {display:inline-block;background:none repeat scroll 0% 0% rgb(255,255,255);margin:2px 2px 2px 0px;padding:5px 5px;text-shadow:0px 0px 0px;border-radius:2px 2px 0px 0px;border:1px solid rgb(204,204,204);}

#tag_update {
display: none;
border-left: 3px solid rgb(0, 0, 0);
border-right: 3px solid rgb(0, 0, 0);
border-top: 3px solid rgb(0, 0, 0);
border-bottom: 3px solid rgb(0, 0, 0);
position:absolute;
z-index:1;
margin-top:20px;
margin-left: 5px;
width: 363px;
}
#tag_update ul {
margin: 0;
padding: 0;
list-style: none;
}
#tag_update li{
display:block;
clear:both;
}
#tag_update a {
display: block;
padding: .2em .3em;
text-decoration: none;
color: #000;
background-color: #fff;
text-align: left;
}
#tag_update a:hover{
color: #fff;
background-color: #000;
background-image: none;
}
#alphabet {
text-align:center;
margin:10px 0px;
}
#alphabet a {
margin:0px 2px;
padding:4px;
border:1px solid rgb(204, 204, 204);
border-radius: 2px;
}

.genreblock {display:block;margin:0 auto; padding:5px 2px 5px 2px;position:relative;background: #444;background: rgba(0,0,0,.5);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;width:980px;}
.genreblock ul.genres {padding:0; margin:3px 0 3px 3px; list-style:none; overflow:hidden}
.genreblock ul.genres li {margin:1px 0;padding:0;display:inline; float:left; width:107px; overflow:hidden}
.genreblock ul.genres li a {float:left;background:url("../../images/tableft.png") no-repeat left top;margin:0;padding:0 0 0 4px;text-decoration:none !important;}
.genreblock ul.genres li a span {display:block;background:url("../../images/tabright.png") no-repeat right top;padding:6px 12px 5px 6px;color:#FFF;text-decoration:none !important; height: 14px;width:83px}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.genreblock ul.genres li a span {float:none;}
/* End IE5-Mac hack */
.genreblock ul.genres li a:hover span {color:#FFF;}
.genreblock ul.genres li a:hover {background-position:0% -42px;}
.genreblock ul.genres li a:hover span {background-position:100% -42px;}

/*sort menu */
ul#sortmenu {margin:0 0 0 35px;padding:0;list-style:none;font-size:11px;font-family:Arial, Helvetica, sans-serif;line-height:normal;}
ul#sortmenu li {display:inline;	margin:0;padding:0;}
ul#sortmenu a {float:left;background:url("../../images/tableft.png") no-repeat left top;margin:0;padding:0 0 0 4px;text-decoration:none !important;}
ul#sortmenu a span {display:block;background:url("../../images/tabright.png") no-repeat right top;
	padding:6px 8px 5px 6px;color:#FFF;text-decoration:none !important; height: 14px;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
ul#sortmenu a span {float:none;}
/* End IE5-Mac hack */
ul#sortmenu a:hover span {color:#FFF;}
ul#sortmenu a:hover {background-position:0% -42px;}
ul#sortmenu a:hover span {background-position:100% -42px;}

#page-footer{margin-top:10px;background:#010101 url(../../images/footer-bg.png) 50% 0 repeat-x}
#page-footer .wrapper{margin:auto;width:980px;padding-top:5px;background:url(/wp-content/uploads/2016/11/footer-logo.png) 0 0 no-repeat}
#footer-movie{position:relative;clear:both;text-align:center;color:#fff;font-size:11px;margin:0;padding:20px 0px 10px 75px}
#footer-movie a:link,#footer-movie a:visited{color:#fff;text-decoration:underline}

div.main-wrapper-t1{position:relative;background:url(../../images/main_wrapper_corners.png) 0 0 no-repeat;margin:10px auto 0px;width:980px;}
div.main-wrapper-t2{background:url(../../images/main_wrapper_corners.png) 100% -15px no-repeat;padding:0 10px}
div.main-wrapper-t3{height:9px;border-top:1px solid #707070;background:#2e2d2d}

div.main-wrapper-b1{background:url(../../images/main_wrapper_corners.png) 0 -30px no-repeat;margin:0px auto;width:980px;}
div.main-wrapper-b2{background:url(../../images/main_wrapper_corners.png) 100% -45px no-repeat;padding:0 10px}
div.main-wrapper-b3{height:10px;background:#2e2d2d}

.shortmovies {margin:1px 10px 10px 1px; display:block; padding:3px;position:relative;border:1px solid #ccc;}
.shortmovies .shortinner {margin:3px; padding:4px 4px 4px 0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background: #dfdfdf;background: -moz-linear-gradient(#f5f5f5, #dfdfdf);background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dfdfdf));background: -webkit-linear-gradient(#f5f5f5, #dfdfdf);background: -o-linear-gradient(#f5f5f5, #dfdfdf);background: -ms-linear-gradient(#f5f5f5, #dfdfdf);background: linear-gradient(#f5f5f5, #dfdfdf);}
h3.category {background:url(../../images/category.png) 0 0 no-repeat; padding: 4px 0 0 55px;margin:5px 0px 5px 8px !important;height:27px; color:#1c2f3e !important; text-shadow: 1px 1px 1px #fff; text-transform:uppercase; font:bold 20px "Arial Narrow", Arial, Helvetica, sans-serif;	 overflow:hidden;}


#toTop{text-decoration:none;overflow:hidden;text-indent:-999px;width:36px;height:45px;border:0;background:url(../../images/up.png) 0 0 no-repeat;text-align:center;position:fixed;bottom:5px;right:10px;cursor:pointer;display:none;opacity:0.5}
#toTop:hover, #toTop:focus {opacity:1;}

/* globals */
body					{ background-color: #F0F0F0; color: #333; font: 12px Helvetica, Arial, sans-serif; }

a, a:link, a:visited	{ color: #313428; text-decoration: none; }
a:hover					{ color: #CC0000; }

blockquote				{ border-left: 2px solid #CCC; color: #666; padding: 5px 10px 1px; margin: 10px; font-style: normal; }
code					{ background: #EAEAEA; color: #333; font-family: Consolas, Monaco, Courier, monospace; font-size: 11px; margin: 1px 0; padding: 1px 3px; }
pre code				{ background: #322E2C; border: 1px solid #635957; color: #FFF; display: block; overflow: scroll; padding: 1.5em 1.75em; }

input[type=text], input[type=password], textarea	{ background: url(../../images/form.jpg) repeat-x top #FFF; border: 1px solid #CCC; padding: 5px 3px; }
input[type=submit]  { font-family: Helvetica, Arial, sans-serif; background: url(../../images/feed-title-white.jpg) repeat-x; border: 1px solid #CCC; padding: 5px 10px; font-size: 12px; color: #000; font-weight: 700; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
input[type=submit]:hover  { background: #313428; color: #FFF; }

table, th, td			{ border: 1px solid #CCC; }
th, thead th			{ font-weight: 700; color: #333; background: #DDD; }
td, tbody td			{ background: #F0F0F0; }

dl{margin:10px 0;font-size:14px;}
dl dt{color:#666;padding-bottom:3px;}
dl dd  { margin: 0 0 10px 0; line-height: 1.5em; }

/* common classes */
img.aligncenter,img.alignright,img.alignleft{border:1px solid #DDD;text-align:center;background:#F3F3F3;padding:4px;}

.wp-caption { border: 1px solid #DDD; text-align: center; background: #F3F3F3; padding-top: 4px; margin: 10px }
.wp-caption img { margin: 0; padding: 0; border: none }
.wp-caption .wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0 }

.sub{font-size:11px;color:#848485;}
.sub a{font-weight:normal!important;}

.tags a:link,.tags a:visited{text-decoration:none;font-weight:700;padding:0 5px 3px;line-height:1.3em;display:inline-block;}
.tags a:hover{text-decoration:underline;}

.avatar{float:left;margin:0 10px 10px 0;border:1px solid #CCC;padding:2px;background:#FFF;}

label.error{border:1px solid #D8000C;color:#D8000C;background:#FFBABA;margin:5px 0;}

/* structure */
#main{background:#ffffff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;}

/* header */
/*
#header{background:#1e1b1a;border-bottom:5px solid #383332;}
.logo{max-width:590px;float:left;font-weight:700;font-family:'Segoe UI', Arial, Helvetica, sans-serif;}
.blog-name{font-size:22px;letter-spacing:1px;}
.blog-name a:link,.blog-name a:visited{color:#FFF;text-decoration:none;}
.blog-description{font-size:11px;color:#7d716d;}
*/

/* top menu */
#top-menu{background:#111;border-bottom:1px solid #333;}
#top-menu-content{height:25px;padding:3px 0;}
#top-menu-content .sf-menu{text-transform:uppercase;margin:0 2px;}
#top-menu .sf-menu a{display:block;text-decoration:none;padding:7px 10px 8px;color:#AAA;font-size:10px;border-right:1px solid #333;}
#top-menu .sf-menu ul a{border:none;}
#top-menu .sf-menu ul li{border:1px solid #333;margin-top:-1px;}
#top-menu .sf-menu a:hover,#top-menu .sf-menu li:hover,#top-menu .sf-menu li.sfHover,#top-menu .sf-menu ul li{color:#FFF;background:#111;}
#top-menu .sf-menu ul a:hover,#top-menu .sf-menu ul li.sfHover,#top-menu .sf-menu ul li:hover{color:#373331;background:#FFF;}
#top-menu .sf-menu ul li.sfHover a.sf-with-ul{color:#373331;}
#top-menu .sf-menu li li a{padding:7px 10px;line-height:1;height:auto;font-size:10px;}
#top-menu .sf-menu .sf-with-ul{padding-right:15px;}
#top-menu .sf-sub-indicator{background:url(../../images/dropdown.png) no-repeat;width:5px;height:5px;text-indent:-9999px;display:inline-block;position:relative;left:7px;top:0;vertical-align:middle;}
#top-menu .sf-menu ul .sf-sub-indicator{display:none;}
#top-menu .sf-menu li:hover ul,#top-menu .sf-menu li.sfHover ul{top:2.4em;}
#top-menu ul.sf-menu li li:hover ul,#top-menu ul.sf-menu li li.sfHover ul,#top-menu ul.sf-menu li li li:hover ul,#top-menu ul.sf-menu li li li.sfHover ul{top:0;}

/* main navigation */
/*
#nav{background:url(../../images/topnav.jpg) repeat-x bottom #322C2C;min-width:990px;}
#nav-content{margin:0 auto;width:978px;}
#nav .sf-menu  { float: left; line-height: 1.2; max-width: 770px; }
#nav .sf-menu a{display:block;text-decoration:none;padding:8px 12px 11px;color:#AAA;font-size:14px;}
#nav .sf-menu ul li  { border: 1px solid #474331; margin-top: 0; }
#nav .sf-menu a:hover,#nav .sf-menu li:hover,#nav .sf-menu li.sfHover,#nav .sf-menu ul li{background:#373331;color:#FFF;}
#nav .sf-menu ul a:hover,#nav .sf-menu ul li.sfHover,#nav .sf-menu ul li:hover{color:#373331;background:#FFF;}
#nav .sf-menu ul li.sfHover a.sf-with-ul{color:#373331;}
#nav .sf-menu li li a{padding:7px 10px;line-height:1;height:auto;font-size:12px;}
#nav .sf-menu .sf-with-ul{padding-right:15px;}
#nav .sf-sub-indicator{background:url(../../images/dropdown.png) no-repeat;width:5px;height:5px;text-indent:-9999px;display:inline-block;position:relative;left:7px;top:0;vertical-align:middle;}
#nav .sf-menu ul .sf-sub-indicator{display:none;}
*/

.quick-nav li			{ padding: 5px 0 0 5px; }
.quick-nav a:link, .quick-nav a:visited	{ display: block; text-indent: -9000px; width: 20px; height: 20px; float: left; clear: left; opacity: 0.6; }
.quick-nav a:hover{opacity:1;}

.quick-nav #rss			{ background: url(../../images/social/rss.png) no-repeat center center; }
.quick-nav #twitter		{ background: url(../../images/social/twitter.png) no-repeat center center; }
.quick-nav #facebook	{ background: url(../../images/social/facebook.png) no-repeat center center; }
.quick-nav #gplus		{ background: url(../../images/social/gplus.png) no-repeat center center; }
.quick-nav #flickr		{ background: url(../../images/social/flickr.png) no-repeat center center; }
.quick-nav #youtube		{ background: url(../../images/social/youtube.png) no-repeat center center; }

#compatible {opacity:0.6;}
#compatible .ipad {width:121px;height:50px;position:absolute;top:25px;right:425px;background:url(../../images/ipad.png) no-repeat;}
#compatible .iphone {width:121px;height:50px;position:absolute;top:25px;right:300px;background:url(../../images/iphone.png) no-repeat;}
#compatible .android {width:121px;height:50px;position:absolute;top:25px;right:175px;background:url(../../images/android.png) no-repeat;}

/* search bar */
/*
#searchbar{margin: 102px 170px 0px 0px;}
.searchform  { border: 3px solid #383332; background: #EFEFEF; margin: 0; }
.searchform .s  { font-family: Helvetica, Arial, sans-serif; font-size: 14px; border: none; background: #EFEFEF; padding: 8px 5px; margin: 0; float: left; width: 300px; }
.searchform .searchsubmit  { background: url(../../images/searchsubmit.gif) no-repeat; text-indent: -9000px; width: 16px; height: 16px; border: none; float: right; cursor: pointer; opacity: 0.7; text-transform: capitalize; padding: 0; margin: 6px 5px; }
.searchform .searchsubmit:hover{background:url(../../images/searchsubmit.gif) no-repeat;opacity:1;}
*/

#search{position:absolute;top:103px;right:170px;z-index:9;background:url(../../images/search_bg.png) no-repeat;height:39px}
#search input.searchsubmit{right:0;top:0;outline:none;border:0;background:none!important}
#search input.searchinput{background:none!important;border:none!important;outline:none;font:normal 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;font-style:italic;color:#000;width:155px;margin:3px 0 0 18px}
#search input.searchinput:hover{color:#036}

/* sidebar */
.widgetcontainer{border:solid #CCC;border-width:1px;background:repeat-x #FFF;line-height:1.4em;}
.widgetcontainer a{font-weight:700;}
.widgetcontainer .excerpt{font-size:11px;margin:5px 0;}
.widgettitle{color:#333;font-size:12px;font-weight:700;margin:-10px -10px 10px;padding:5px 10px;background:url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF;border-bottom:1px solid #CCC;}
.widgettitle a{color:#333;}
.multi-sidebar .thumb,.multi-sidebar .recentcomments .avatar,.featured-stories .thumb{float:left;border:1px solid #CCC;margin:0 10px 0 0;background:#FFF;padding:2px;}
.sidebar-read-more:link,.sidebar-read-more:visited{text-transform:uppercase;font-weight:normal;font-size:10px;padding:2px 4px;margin:5px 0 0;display:inline-block;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#FFF;background:#333;}
.sidebar-read-more:hover{background:#CC0000;}
.multi-sidebar .tabs li{background:#383332;border:1px solid #CCC;}
.multi-sidebar .tabs a:link,.multi-sidebar .tabs a:visited{text-decoration:none;font-weight:700;color:#FFF;}
.multi-sidebar .tabs a:hover{border-bottom:1px dotted #FFF;}
.multi-sidebar .tabs .ui-tabs-selected{background:#FFF;}
.multi-sidebar .tabs .ui-tabs-selected a:link,.multi-sidebar .tabs .ui-tabs-selected a:visited{color:#37322F;}
.multi-sidebar .widgetcontainer{background:#FFF;border:1px solid #CCC;}
.multi-sidebar .widgetcontainer li,.featured-stories li,.related-posts li{border-bottom:1px dotted #CCC;}
.multi-sidebar .recentcomments .author{color:#666;font-size:11px;}
#wp-calendar{border:1px solid #999;}
#wp-calendar td{text-align:center;}
#wp-calendar caption{color:#333;font-size:12px;font-weight:700;margin:0;padding:5px 9px;background:url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF;border:1px solid #CCC;text-align:center;}

/* featured slideshow */
#featured-slideshow{border:5px solid #333;}
.featured-article{text-decoration:none!important;background-position:center!important;}
.featured-entry{background:#000;height:85px;color:#a7a7a7;}
.featured-entry .entry-title{color:#FFF;padding:10px 15px 5px;font-size:18px;font-weight:700;}

/* bottom content */
#bottom-content-1 .widgettitle,#bottom-content-2 .widgettitle{background:#F0F0F0;}

/* tapestries */
.entry-thumbnails-link{background:#111;text-decoration:none!important;}
.posts-default .entry  { margin: 6px 6px 0px 6px; font-size: 12px; background:url(../../images/poster.png) no-repeat 0 0 }
.posts-default img{background:#111;}
.posts-default .entry-title{font-weight:700;font-size:14px;margin:auto;width:90%;}
.posts-default .entry-summary,.posts-quick .entry-summary{color:#333;}
/*
.posts-default .entry-thumbnails-link{border:1px solid #E1E1E1;background:#FFF;margin:5px;}
*/
.posts-default .published{text-transform:uppercase;font-size:10px;color:#999;border-bottom:none;}
.posts-quick .entry-title{font-weight:700;font-size:16px;}
.posts-quick .entry-summary{font-size:12px;}
.posts-quick .entry-thumbnails{border:1px solid #CCC;background:#FFF;}
.posts-quick .entry-info{font-size:11px;color:#666;border:none;}
.posts-quick .entry-info abbr{text-decoration:none;border:none;}
.posts-quick .quick-read-more a:link,.posts-quick .quick-read-more a:visited{padding:5px 10px;margin:3px 0;font-size:12px;background:url(../../images/feed-title-white.jpg) top repeat-x #EFEFEF;color:#000;text-decoration:none;border:1px solid #CCC;font-weight:700;display:inline-block;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.posts-quick .quick-read-more a:hover{background:#383332;color:#FFF;}
.posts-default .entry-meta,.posts-quick .entry-meta{color:#CCC;background:#000;height:25px;font-weight:700;opacity:0.7;}
.posts-default .entry-meta a:link,.posts-default .entry-meta a:visited,.posts-quick .entry-meta a:link,.posts-quick .entry-meta a:visited{color:#FFF;text-decoration:none;}
.posts-line{background:#FFF;border:1px solid #CCC;}
.posts-line	li{padding:7px 0;border-bottom:1px solid #EEE;}
.posts-line .entry-cat{font-size:11px;color:#848485;}
.posts-line .entry-title{font-size:12px;}
.posts-line .entry-comments{font-size:11px;color:#848485;}
.home-title{font-weight:700;font-size:14px;padding:8px 8px 8px;border-bottom:1px solid #000;margin:5px 5px 10px 5px;color:#333;}

/* single post */
/*
.single-post{display:block;position:relative;background:rgba(0,0,0,.5);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;box-shadow:0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;margin:3px;padding:3px}
.single-post .singleinner{margin:3px; padding:4px 4px 4px 0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#000;background-image:-moz-linear-gradient(top, #555, #333);background-image:-ms-linear-gradient(top, #555, #333);background-image:-o-linear-gradient( top, #555, #333);background-image:-webkit-gradient(linear, left top, left bottom, from(#555), to(#333));background-image:-webkit-linear-gradient(top, #555, #333);background-image:linear-gradient(top, #555, #333);}
.single-post h1{background:url(../../images/category.png) 0 0 no-repeat;height:27px;color:#fff!important;text-shadow:1px 1px 1px #000;text-transform:uppercase;font:bold 20px "Arial Narrow", Arial, Helvetica, sans-serif;overflow:hidden;margin:5px 0px 10px 10px!important;padding:4px 0 0 55px}
*/
.single-post {margin:1px 10px 15px 0px; display:block; padding:3px;position:relative;border:1px solid #ccc;}
.single-post .singleinner {margin:3px; padding:4px 4px 4px 0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background: #dfdfdf;background: -moz-linear-gradient(#f5f5f5, #dfdfdf);background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dfdfdf));background: -webkit-linear-gradient(#f5f5f5, #dfdfdf);background: -o-linear-gradient(#f5f5f5, #dfdfdf);background: -ms-linear-gradient(#f5f5f5, #dfdfdf);background: linear-gradient(#f5f5f5, #dfdfdf);}
.single-post h1{background:url(../../images/category.png) 0 0 no-repeat; padding: 4px 0 0 55px;margin:5px 0px 5px 8px !important;height:27px; color:#1c2f3e !important; text-shadow: 1px 1px 1px #fff; text-transform:uppercase; font:bold 20px "Arial Narrow", Arial, Helvetica, sans-serif;	 overflow:hidden;}


/*
.single .post,#main .single-post{background:#FFF;border:1px solid #CCC;}
.single .post .entry-title,.single-post .entry-title{font-size:22px;font-weight:700;}
.single .post .entry-info,.single-post .entry-info{color:#848485;font-size:11px;text-transform:uppercase;border-bottom:1px dotted #CCC;}
.single .post .entry-info .published,.single-post .entry-info .published{border:none;}
.single .post .entry-cat,.single-post .entry-cat{color:#848485;line-height:1.5em;}
.single-post .entry-info a:link,.single-post .entry-info a:visited{color:#666;text-decoration:none;}
.single-post .entry-info a:hover{color:#333;}
.single .post .entry-author,.single-post .entry-author{font-weight:700;color:#848485;}
.single .post .entry-author address,.single-post .entry-author address{font-style:normal;}
#main .single .post .tags,#main .single-post .tags{color:#848485;border-top:1px dotted #CCC;line-height:1.5em;}
#main .single .post .tags strong,#main .single-post .tags strong{text-transform:uppercase;font-size:11px;}
.single .post .entry-photo img,.single-post .entry-photo img{border:1px solid #CCC;}
.single .post .entry-comments,.single-post .entry-comments{float:right;padding:3px 3px 3px 17px;margin-top:20px;background:url(../../images/comments.gif) no-repeat 3px 6px #383331;display:inline-block;color:#FFF;font-size:14px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.post-edit-link:link,.post-edit-link:visited{text-decoration:none;}
.single-post-meta-field{background:#313428;display:block;border:1px solid #383332;padding:5px 10px;color:#FFF;font-weight:700;}
.single-post-meta-value{border:1px solid #CCC;padding:5px 10px;background:#F0F0F0;display:block;}
.module-title,.feed-title,#reply-title{line-height:1em;color:#333;font-size:12px;font-weight:700;margin:0 10px 0 0;padding:7px 10px;background:url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF;border:1px solid #CCC;display:block;}
.feed-title{border-bottom:none;}
.gallery-icon img{background:#FFF;border:1px solid #CCC;}
.about-author{border:1px solid #CCC;background:#F5F5F5;}
.about-author h4{color:#333;font-weight:700;font-size:12px;}
*/

/* wp-pagenavi */
.wp-pagenavi{margin:0 0 30px;font-size:12px;text-align:center;}
.wp-pagenavi a,.wp-pagenavi span{margin:2px!important;display:inline-block;}
.wp-pagenavi span.pages{border:1px solid #CCC;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:5px 8px;}

/* comments */
#commentlist{background:#F0F0F0;border:solid #CCC;border-width:0 1px;}
#commentlist .avatar{border:1px solid #CCC;padding:1px;float:left;margin:0 5px 10px 0;}
#commentlist cite{font-weight:700;font-style:normal;line-height:20px;font-size:14px;}
#commentlist .comment-node{background:#FFF;border:1px solid #CCC;}
#commentlist .children .comment-node{background:#F5F5F5;}
#commentlist .comment-content{font-size:12px;}
#commentlist .comment-meta,#commentlist .comment-meta abbr{border:none;text-decoration:none;color:#999;font-size:11px;}
#commentlist .comment-controls{padding:15px 10px;font-weight:700;float:right;}
#commentlist .comment-controls a:link,#commentlist .comment-controls a:visited{background:url(../../images/feed-title-white.jpg) top repeat-x #EFEFEF;color:#000;text-decoration:none;padding:4px 8px;margin:0;border:1px solid #CCC;font-weight:700;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#commentlist .comment-controls a:hover{background:#313428;color:#FFF;}
#commentlist .reply a,.comments-navigation a,.read-more,.navigation a,.wp-pagenavi a{background:url(../../images/feed-title-white.jpg) top repeat-x #EFEFEF;color:#000;text-decoration:none;padding:5px 8px;margin:0;border:1px solid #CCC;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;display:inline-block;}
#commentlist .reply a:hover,.comments-navigation a:hover,.navigation a:hover,.read-more:hover,.wp-pagenavi a:hover{background:#313428;color:#FFF;}
.comments-navigation span.current,.wp-pagenavi span.current{background:#313428;color:#FFF;text-decoration:none;padding:5px 8px;margin:0;border:1px solid #CCC;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.comments-navigation{background:#F0F0F0;padding:0 10px 10px;border:solid #CCC;border-width:0 1px 1px;}
.comments-navigation a{display:inline-block;}
.nocomments{background:#FFF;border:solid #CCC;border-width:0 1px 1px;padding:15px 10px;margin:0 10px 10px 0;font-size:12px;}
#commentform, #commentsform { background: #FFF; border: solid #CCC; border-width: 0 1px 1px; margin-right: 10px; padding: 10px; }
#commentform label{color:#999;}
#commentform label.error{margin:5px 0;color:#D8000C;font-weight:bold;padding:5px;}
#commentform span.required{color:#FF0000;}
#commentform input[type=text]{display:block;width:300px;font:14px 'Lucida Grande',Arial,Helvetica,sans-serif;margin:5px 0;}
#commentform textarea{display:block;font:14px 'Lucida Grande',Arial,Helvetica,sans-serif;width:90%;margin-bottom:5px;}
#cancel-comment-reply-link{font-size:11px;}
#disqus_thread{background:#FFF;border:1px solid #CCC;margin-right:10px;padding:10px;}
.dsq-brlink{background:#FFF;padding:5px;margin:10px 10px 10px 0;display:block;border:1px solid #CCC;}
.pingbacks{background:#FFF;border:solid #CCC;border-width:0 1px 1px;padding:15px 10px 15px 30px;margin:0 10px 20px 0;}
.pingbacks li{padding:2px 0;font-weight:700;}
.pingbacks a:link,.pingbacks a:visited{text-decoration:none;}

/* search results */
.search-results h2{color:#333;font-size:12px;font-weight:700;margin:0 10px 0 0;padding:6px 10px;background:url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF;border:1px solid #CCC;}
.search-results-content{border:solid #CCC;border-width:0 1px 1px;background:#FFF;margin:0 10px 10px 0;padding:10px;}
.search-results-content .searchform, .sidebar .searchform { border: 2px solid #CCC; background: #EFEFEF; }

/* author template */
.author-posts-title,.author-content h1,.archive-title{font-family:Century Gothic, Apple Gothic, sans-serif;text-transform:uppercase;font-weight:700;font-size:14px;padding:0 3px 8px;border-bottom:1px solid #DDD;margin:0 15px 10px 0;color:#383331;}

/* footer */
#footer{background:#F5F5F5;border:1px solid #CCC;}
#footer .widgetcontainer{background:none;border:none;}
#footer .widgettitle{background:none;border:none;font-size:14px;color:#444;padding:0 0 10px;letter-spacing:-1px;margin:0;}
#footer .widgetcontent{font-size:12px;background:none;padding:0;border:none;}
#footer .footer-message{font-size:11px;}
.footer-sidebar-container{border-bottom:1px solid #CCC;}

/* end import base CSS style */

/* globals */
input[type=submit]:hover  { background: #313428; }

a, a:link, a:visited	{ color: #2C445E; text-decoration: none; }
a:hover					{ color: #BF511F; }

/* header */
#header 				{ background:#010101 url(../../images/header-bg.png) 50% 0 repeat-x; }
.blog-description		{ font-size: 11px; color: #19508C; }

/* top menu */
#top-menu  { background: #061424; border-bottom: 1px solid #0C2845; }
#top-menu .sf-menu a  { color: #FFF; }
#top-menu .sf-menu ul li  { border: 1px solid #061321; }
#top-menu .sf-menu a:hover, #top-menu .sf-menu li:hover, #top-menu .sf-menu li.sfHover, #top-menu .sf-menu ul li  { color: #FFF; background: #103259; }
#top-menu .sf-menu ul a:hover, #top-menu .sf-menu ul li.sfHover, #top-menu .sf-menu ul li:hover { color: #103259; background: #FFF; }
#top-menu .sf-menu ul li.sfHover a.sf-with-ul { color: #103259; }

/* main navigation */
#nav  { position:absolute;top:99px;left:0;height:50px;clear:both;margin:0 auto;padding:1px 45px 0 46px; }

/*
#nav .sf-menu a  { color: #FFF; }
#nav .sf-menu ul li  { border: 1px solid #0F3158; }
#nav .sf-menu a:hover, #nav .sf-menu li:hover, #nav .sf-menu li.sfHover, #nav .sf-menu ul li  { background: #0F3158; color: #FFF; }
#nav .sf-menu ul a:hover, #nav .sf-menu ul li.sfHover, #nav .sf-menu ul li:hover { color: #0F3158; background: #FFF; }
#nav .sf-menu ul li.sfHover a.sf-with-ul { color: #0F3158; }
*/

div#nsmenu ul{list-style:none;float:left;margin:0;padding:0}
div#nsmenu li{position:relative;display:block;float:left;z-index:5;margin:0;padding:0}
div#nsmenu li a,#nsmenu li span.separator{height:45px;display:block;float:left;line-height:45px;text-decoration:none;color:#000}
div#nsmenu li span{display:block;background-repeat:no-repeat;background-position:95% 0}
div#nsmenu a:hover,div#nsmenu span.separator:hover{color:#FFF}
div#nsmenu ul.nsmenu{padding-right:1px}
div#nsmenu li.level1{background:url(../../images/nav_sep.png) 0 -1px no-repeat}
div#nsmenu li.level1 span.last{background:url(../../images/nav_sep.png) 0 -1px no-repeat;height:50px;width:2px;display:block}
div#nsmenu li.level1:hover{background:url(../../images/nav-over.gif) 0 0 no-repeat}
div#nsmenu a.level1,div#nsmenu span.level1{color:#121212;text-shadow:0 1px 0 #fff, 0 -1px 2px #fff;font-size:120%;font-weight:700;font-family:"Arial Narrow", Arial, Helvetica, sans-serif;text-transform:uppercase;letter-spacing:-.02em}
div#nsmenu a.level1 span,div#nsmenu span.level1 span{padding:0 15px}
div#nsmenu li:hover a.level1,div#nsmenu li:hover span.level1{color:#000;text-shadow:0 1px 0 #fff, 1px 1px 2px #aaa}
div#nsmenu ul.nsmenu ul{position:absolute;top:44px;left:-999em;width:190px;padding:2px 0 5px}
div#nsmenu li:hover ul{z-index:100;left:0;background:#cccccc;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;opacity:0.95;-moz-opacity:0.95;-webkit-box-shadow:0 5px 5px rgba(68,68,68,0.6);box-shadow:0 5px 5px rgba(68,68,68,0.6);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);-ms-filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);zoom:1}
div#nsmenu li.level1 li{width:100%;text-indent:15px}
div#nsmenu li.level1 li a,div#nsmenu li.level1 li span.separator{height:17px;line-height:17px;float:none;display:block;margin:0 2px}
div#nsmenu ul.level2 li.level2 a{background:url(../../images/arrow_icon_blue.png) no-repeat 8px 7px;font:normal 11px Arial, Helvetica, sans-serif!important;color:#000;padding:3px 0 1px 6px}
div#nsmenu ul.level2 li.level2 a:hover{background:#111 url(../../images/arrow_icon_white.gif) no-repeat 8px 7px;font:normal 11px Arial, Helvetica, sans-serif!important;color:#fff;padding:3px 0 1px 6px}

/* search bar */
/*
.searchform  { border: 3px solid #19508C; }
*/

/* sidebar */
.sidebar-read-more:link, .sidebar-read-more:visited	{ background: #091E36; }
.sidebar-read-more:hover  { background: #BF511F; }

.widgettitle  { background: #003773; color: #FFF; }
.widgettitle a  { color: #FFF; }

#bottom-content-1 .widgettitle, #bottom-content-2 .widgettitle  { color: #333; }

.multi-sidebar .tabs li	{ background: #144275; border: 1px solid #CCC; }				
.multi-sidebar .tabs .ui-tabs-selected a:link, .multi-sidebar .tabs .ui-tabs-selected a:visited	{ color: #37322F; }			

/* tapestries */
.posts-quick .quick-read-more a:hover, #commentlist .comment-controls a:hover, .navigation a:hover, .comments-navigation a:hover, .wp-pagenavi a:hover, .wp-pagenavi span.current, .comments-navigation span.current  { background: #003773; color: #FFF; }

.home-title				{ background: #003773; color: #FFF;}

/* single post */
.single .post .entry-comments, .single-post .entry-comments  { background-color: #091E36; display: inline-block; color: #FFF; }

.single-post-meta-field  { background: #091E36; display: block; border: 1px solid #0F3158; padding: 5px 10px; color: #FFF; font-weight: 700; }
.single-post-meta-value	 { border: 1px solid #CCC; padding: 5px 10px; background: #F0F0F0; display: block; }

/* author template */
.author-posts-title, .author-content h1, .archive-title { color: #091e36; }

.jw-player{position:relative;min-height:500px;overflow:hidden;max-width:100%;background:#000;margin:5px;}
.jw-player iframe{position:absolute;top:0;left:0;width:100%;min-height:500px;z-index:100;background:transparent;}
.jw-player img{bottom:0;display:block;left:0;max-width:100%;width:auto;position:absolute;right:0;top:0;border:none;height:100%;cursor:pointer;-webkit-transition:.4s all;-moz-transition:.4s all;transition:.4s all;margin:auto;}
.jw-player img:hover{-webkit-filter:brightness(75%);}
.jw-player .play{height:72px;width:72px;left:50%;top:50%;margin-left:-36px;margin-top:-36px;position:absolute;background:url(//i.imgur.com/TxzC70f.png) no-repeat;cursor:pointer;}